* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fa-square-whatsapp {
    position: fixed;
    color: #999999;
    font-size: 40px;
    right: 25px;
    bottom:60px;
    z-index: 4;
}
/*header*/
/*menu*/
header {
    position: sticky;
    top: 1px;
    z-index: 4;
}
.header {
    display: flex;
    justify-content:space-evenly;
}
.border-header {
    border-bottom: 2px solid lightgray;
    margin-top: 10px;
}
.logo-social-icon {
    display: flex;
}
.logo-menu {
    width: 180px;
    margin-top: 15px;
}
.social-icon {
    display: flex;
    flex-direction: column;
    letter-spacing: 15px;
    margin-top: 13px;
    margin-left: 10px;
}
.fa-facebook {
    color: #999999;
    font-size: 18px; 
}
.fa-facebook:hover {
    color: #61c2d0;
}
.fa-instagram {
    color: #999999;
    font-size: 18px;
}
.fa-instagram:hover {
    color: #61c2d0;
}
/*menu*/
#btn-menu {
    display: none;
}
#btn-menu:checked +.container-menu{
    opacity: 1;
    visibility: visible;
} 
.fa-bars {
    color: #999999;
    margin-top: 25px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 20px;
}
.p-menu {
    visibility: hidden;
    font-size: 16px;
}
.container-menu {
    position: absolute;
    background: rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
.cont-menu {
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background:#f8f8f8;
    /*position: relative;*/
    transition: all 0.5s ease;
}
.cont-menu nav {
    transform: translateY(25%);
}
.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #b4b4b4;
    border-left: 4px solid transparent;
    border-bottom: 1px solid #b4b4b4;
    transition: all 0.5s ease;
}
.cont-menu nav a:hover {
    border-left: 4px solid white;
    background: lightgray;
}
.cont-menu label i{
    font-size: 16px;
    position: absolute;
    right: 25px;
    top: 30px;
    color: white;
    cursor: pointer;
}
.menu-pc {
    display: none;
}
section {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #61c2d0;
}

.info-desktop {
    align-content: center;
    color: white;
    height: 60px;
    align-items: center;
    letter-spacing: 20px;
}
/*fin menu*/
.hr-web {
    display: flex;
    justify-content: center;
}
    hr {
    width: 20%;
    height: 2px;
    color: #999999;
    background-color:#999999 ;
    margin-top: 2%;
    margin-bottom: 2%;
}
/*main*/
.categorias {
    background-color: #61c2d0;
    width: 100vw;
    height: 20vh;
    font-family: Arial;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.h2-categorias {
    font-size: 30px;
}
.h2-span {
    color: white;
    font-size: 20px;
}
.img-categorias {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100px);
    margin-top: 25px;
    grid-gap: 20px;
    font-family: arial;
    text-decoration: none;
}
.img-categorias div a {
    text-decoration: none;
}
.img-categorias div a i {
    color: #61c2d0;
    font-size: 80px;
}
.img-categorias div a i:hover {
    color: #61c2d0;
    font-size: 90px; 
    transition: 0.3s;   
}
.card {
    justify-content: center;
    text-align: center;
    border: none;
}
.p-categorias {
    color: #999999;
    font-size: 12px;
    font-weight: 700;
}
/*fin main*/
/*footer*/
footer {
    background-color: #5b5b5b;
    width: 100vw;
    height:auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.p-footer {
    color: #adadad;
    font-family: arial;
    font-weight: 700;
    margin-top: 10%;
}
.medios-pagos {
    color: #adadad;
    font-size: 30px;
}
/*fin footer*/
/*Nosotros*/
.nosotros {
    background-color: #61c2d0;
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nosotros h2 {
    font-size: 18px;
    color: white;
    
}
.p-nos {
    margin-top: 10px;
    padding: 15px;
}
/*fin Nosotros*/
/*Productos*/
.h3-categorias {
    text-align: center;
    color: #999999;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right: 25px;
}
.categorias-productos {
    width: 100vw;
    height: 20vh;
    font-family: Arial;
    color: white;
    text-align: center;
    padding-top: 15px;
}
.hr-cat {
    height: 1px;
    width: 100%;
    color: #999999;
    margin-top: 20px;
}
/*paginas productos categiria inicio*/
.categoria-volver {
    display: flex;
    justify-content: space-between;

}
.volver {
    text-align: left;
    color: #999999;
    font-size: 16px;
    margin-top: 14px;
    padding-left: 10px;
}
/*paginas productos categiria fin*/
/*acc celulares productos inicio*/
.acc-celulares {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 100px);
}
/*acc celulares productos fin*/
/*contacto inicio*/
.formulario {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.input {
    background-color: gainsboro;
    border: none;
    height: 30px;
    padding-left: 8px;
    font-size: 14px;
    border-radius: 15px;    
}
.input-text {
    background-color: gainsboro;
    border: none;
    padding-left: 8px;
    padding-top: 5px;
    font-size: 14px;
    border-radius: 15px;
}
#submit_button {
    width: 70px;
    height: 30px;
    margin-bottom: 15px;
    background-color: #61c2d0;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}
/*contact fin/*
/*Acc Celulares categorias*/
h6 {
    text-align: center;
    font-size: 12px;
    color: black;
    text-shadow: 0,0,0,#61c2d0;
    margin-top: 5px;
}
.galeria-producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 120px);
    grid-gap: 15px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.productos {
    background-position: center;
    background-size: cover;
    height: 100px;
}
.producto1 {
    background-image: url(img/productos/adaptador-ligthning-a-3.5.jpg);
}
.producto2 {
    background-image: url(img/productos/adaptador-USBc-a-3.5.jpg);
}
.producto3 { background-image: url(img/productos/adapatdor-OTG-USBa-a-USBc.jpg);

}
.producto4 {
    background-image: url(img/productos/adptador-OTG-USBc-a-USBa.jpeg);
}
.producto5 {
    background-image: url(img/productos/Anillo-para-celular.jpg);
}
.producto6 {
    background-image: url(img/productos/Aro-de-Luz-soporte-celular.jpg);
}
.producto7 {
    background-image: url(img/productos/Auiricular-BT-XT89.jpg);
}
.producto8 {
    background-image: url(img/productos/Auricular-BT-XT91.jpg);
}
.producto9 {
    background-image: url(img/productos/Auricular-HF130.jpg);
}
.producto10 {
    background-image: url(img/productos/Auricular-HF170.jpg);
}
.producto11 {
    background-image: url(img/productos/Auricular-ligthning.jpg);
}
.producto12 {
    background-image: url(img/productos/Brazalete-universal-para-celular.jpg);
}
/*fin Acc celulares categorias*/

/*media queris*/
@media (min-width:768px) {
    .btn-menu {
        display: none;
}
    .header {
        display: flex;
        justify-content: space-between;
    }
    .logo-menu {
        margin-left: 25px;
    }
    .social-icon {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        margin-right: 40px;
}
        .fa-facebook {
        color: #999999;
        font-size: 20px;
        border-left: 1px solid #999999;
        padding-left: 8px;
}
        .fa-instagram {
        color: #999999;
        font-size: 20px;
        border-right: 1px solid #999999;
        padding-right: 8px;
}
    .menu-pc {
        display: block;
    }
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 78px;
        z-index: 4;
    }
    .menu-pc nav a {
        color: white;
        text-decoration: none;
        justify-items: center;
        margin-left: 26px;
    }
    .menu-pc nav a:hover {
        color: #5b5b5b;
    }
    .info-desktop {
        align-content: center;
        color: white;
        height: 60px;
        align-items: center;
        letter-spacing: 20px;
        margin-right: 21px;
    }
    .img-categorias {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(1, 140px);
        margin-top: 35px;
        grid-gap: 20px;
        font-family: arial;
        text-decoration: none;
}
        .img-categorias div a i {
        color: #61c2d0;
        font-size: 100px;
}
        .img-categorias div a i:hover {
        color: #61c2d0;
        font-size: 110px; 
        transition: 0.3s;   
}
    .fa-square-whatsapp {
    font-size: 60px;
}
.formulario {
    margin-left: 150px;
    margin-right: 150px;
}
}
@media (min-width:576px) and (max-width:767px){
    .p-menu {
        visibility: visible;
}
    .social-icon {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
}
    .fa-facebook {
    color: #999999;
    font-size: 20px;
    border-left: 1px solid #999999;
    padding-left: 8px;
    
}
    .fa-instagram {
    color: #999999;
    font-size: 20px;
    border-right: 1px solid #999999;
    padding-right: 8px;
}
    .img-categorias {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 120px);
        margin-top: 35px;
        grid-gap: 20px;
        font-family: arial;
        text-decoration: none;
}
    .img-categorias div a i {
    color: #61c2d0;
    font-size: 100px;
}
    .img-categorias div a i:hover {
    color: #61c2d0;
    font-size: 110px; 
    transition: 0.3s;   
}
.fa-square-whatsapp {
    font-size: 50px;
}
.formulario {
    margin-left: 85px;
    margin-right: 85px;
}
}